<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Maker</title>
</head>

<body>
    <form action="add" method="POST">
        {% csrf_token %}
        <input type="text" name='item' placeholder="What you want to do today?">
        <input type="submit" value="Add">
    </form>

    <a href="{% url 'deleteAll' %}"><button>Delete All</button></a>

    {% for task in all_items %}
    <div style="display: inline">
        <ul>
            <li>{{ task.item }} - {{ task.date_created }}
                <a href="{% url 'delete' task.id %}"><button>Delete</button></a><br></li>
        </ul>
    </div>
    {% endfor %}

</body>

</html>